@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Калоризатор</h1>
    <p class="lead">Программа-помощник на пути правильного питания.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Таблица продуктов</h2>
        <p>
            Таблица пищевой ценности отдельных продуктов.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Таблица блюд</h2>
        <p>Таблица пищевой ценности и характеристик блюд.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Перейти &raquo;</a></p>
    </div>
</div>