@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron" style="background: lightblue; color: white;">
    <h1>Калоризатор</h1>
    <p class="lead">Программа-помощник на пути правильного питания</p>
</div>

<div class="row" style="margin-top:56px;">
    <div class="col-md-6">
        <h2 style="color: slategray;">Таблица продуктов</h2>
        <p style="color: slategray;">
            Таблица пищевой ценности отдельных продуктов
        </p>
        <p><a class="btn btn-info" style="margin-top:16px;" href="@Url.Action("Index", "Products")">Перейти</a></p>
    </div>
    <div class="col-md-6">
        <h2 style="color: slategray;">Таблица блюд</h2>
        <p style="color: slategray;">Таблица пищевой ценности и характеристик блюд</p>
        <p><a class="btn btn-info" style="margin-top:16px;" href="@Url.Action("Index", "Dishes")">Перейти</a></p>
    </div>
</div>